.questions.container
  .row.valign-wrapper
    .col.s6
      %h4.header Open Questions
    .col.s6.right-align
      = link_to destroy_user_session_path, method: :delete do
        .waves-effect.waves-light.btn.right-align Log Out
  .row
    - if @questions.length > 0
      - @questions.each do |question|
        .col.s4
          .card
            .card-content
              %span.card-title= question.question
              %p Asked <b>#{time_ago_in_words(question.created_at)}</b> ago
            .card-action
              = link_to 'Claim this question', claim_question_path(question.id), method: :post
    - else
      %h5.header.center.col.s12 There are no questions available right now - check back later
