.ui.center.aligned.segment
  .ui.vertically.divided.centered.grid
    .row
      .centered.column
        %h1.center.aligned.ui.header= @question.question
        %h3.center.aligned.ui.header Asked by #{@question.number}
    .row
      - if @current_question
        .ui.disabled.inverted.red.button You've Already Claimed a Question
      - else
        = button_to "Claim this Question", claim_question_path(@question.id), class: "ui red inverted button"
