:css
  body {
    background: #FF4C65;
    height: 100vh;
  }
.masthead
  .container
    .row
      .col.m6.s12.right-align
        %h1.right-align.logo.header Julian
        = form_tag send_url, method: :post do
          .input-field
            %input{name: 'To', id: 'phone_number', type: 'text'}
            %label{for: 'phone_number'} Phone number
          %button.waves-effect.waves-light.white.btn Get started
        %p.right-align <span class="lowpacity">or text</span> <b>(508) 444-9679</b>
      .col.m6
        = image_tag 'iphone.png'
  %p.bottom <a>Register</a> to be a tutor or <a>sign in</a> to your dashboard
