// Place all the styles related to the Questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  background: -moz-linear-gradient(45deg, rgba(219,51,64,1) 0%, rgba(255,113,117,1) 100%); /* ff3.6+ */
  background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, rgba(219,51,64,1)), color-stop(100%, rgba(255,113,117,1))); /* safari4+,chrome */
  background: -webkit-linear-gradient(45deg, rgba(219,51,64,1) 0%, rgba(255,113,117,1) 100%); /* safari5.1+,chrome10+ */
  background: -o-linear-gradient(45deg, rgba(219,51,64,1) 0%, rgba(255,113,117,1) 100%); /* opera 11.10+ */
  background: -ms-linear-gradient(45deg, rgba(219,51,64,1) 0%, rgba(255,113,117,1) 100%); /* ie10+ */
  background: linear-gradient(45deg, rgba(219,51,64,1) 0%, rgba(255,113,117,1) 100%); /* w3c */
}

.ui.menu a.ui.item {
  color: #FF7175;
  font-size: 1.25em;
}

h1.ui.header, h2.ui.header, h3.ui.header {
  color: #FF7175;
}

.ui.horizontal.divider {
  color: #FF7175;
}

.ui.three.cards>a.ui.card>.content>.question.header {
  color: #FF7175;
}
